body{
    background-color:white;
}

main{
    font-size: 18px;
    align-items: center;
    padding-right: 15%;
    padding-left: 15%;
}

.section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.box{
    flex: 1;
    margin: 5px;
    margin-top: 0px;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 10px;
    background-color: lightgray;
}

h1{
    font-size: 44px;
    font-weight: 1000;
}

.subheader{
    font-size: 22px;
    font-weight: 1000;
}
