* {
    padding: 0px;
    margin: 0px;
  }
  
  body {
    height: 100vh;
    width: 100%;
    margin: 0;
    min-width: 880px;
    display: flex;
    font-family: sans-serif;
    box-sizing: border-box;
  }
  
  img,
  .hidden {
    display: none;
  }
  
  img[src] {
    display: block;
  }
  
  #main-container {
    height: 100%;
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #87b7ff;
  }
  
  #weather-container {
    height: 60%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .weatherSection {
    margin: 20px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .day {
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: stretch;
  }
  
  #side-container {
    height: 100%;
    width: 34%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #search-input {
    padding: 10px;
    border-radius: 5px;
    border-width: 1px;
    margin-right: 16px;
    margin-bottom: 16px;
  }
  
  #search-button {
    padding: 10px;
    background-color: #0075ff;
    color: #ffffff;
    border-radius: 5px;
    border-width: 1px;
  }
  
  .search-result:hover {
    font-weight: bold;
    cursor: pointer;
  }

  h1 {
    font-size: 72px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 18px;
  }

  