* {
    padding: 0px;
    margin: 0px;
   }
    
   body {
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    font-family: sans-serif;
    box-sizing: border-box;
   }
    
   img,
   .hidden {
    display: none;
   }
    
   img[src] {
    display: block;
   }

   label {
    display: flex;
    justify-content: space-around;
   }
    
    
   .main-container {
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
   }
    
   .weather-container {
    height: 100%;
    width: 70%;
    background: linear-gradient(#e66465, #9198e5);
   }
    
   .side-container {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
   }

   .search-container {
    display: flex;
    justify-content: space-between;
    gap: 20;
   }
    
   .search-input {
    padding: 10px;
    border-radius: 5px;
    border-width: 1px;
    margin-right: 16px;
    margin-bottom: 16px;
   }
    
   .search-button {
    padding: 10px;
    background-color: #0075ff;
    color: #ffffff;
    font-weight: bold;
    margin-right: 10%;
    border-radius: 5px;
    border-width: 1px;
   }
    
   .upcoming-forecast {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    width: 15%;
    height: 100%;
    font-weight: bold;
    visibility: hidden;
   }
   .display-weather {
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
   }
   .upcoming-date {
    font-size: 12px;
    text-align: center;
   }
   .upcoming-temp {
    font-size: 15px;
    text-align: center;
   }
   .date-today {
    font-weight: bold;
    font-size: 20px;
   }
    
   .city-weather {
    font-weight: bold;
    font-size: 35px;
   }
    
   .weather-status {
    font-weight: bold;
   }
    
   .resized-image {
    width: 200px;
    height: auto;
    justify-content: center;
   }
    
   .upper-weather-display {
    width: 20%;
    margin-right: 80px;
    display: flex;
    align-items: flex-start;
   }
    
   .search-result:hover {
    font-weight: bold;
    cursor: pointer;
   }
    
   
   